<h1>Choose your cryptocurrency</h1>


<%= form_tag('/') do %>
  <%= select_tag "currency", options_for_select(@arr) %>
  <%= submit_tag "Get price", class: "btn btn-large btn-primary" %>
<% end %>

<% if @name %>
  <h2><%= @name %> : <%= @value %></h2>
<% end %>
